* {
  box-sizing: border-box;
}
.nav-form {
    padding: 10px;
}
.navbar {
    background-color: #333333;
    overflow: hidden;
    min-width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar-logo {
    height: 30px;
    padding: 0 0 0 0;
}
.plots {
    width: auto;
    height: auto;
    display: inline-block;
}
.toast{
    display: none;
}
.btn {
    border-color: #d1d1d1;
}
.container {
    text-align: center;
}
#get-values {
    text-align: center;
    padding: 10px 40px;
}
#submit-scroll{
    text-align: center;
    padding: 10px 40px;
}
#checkboxes {
    padding-left: 40%;
    text-align: left;
}
#json-url-form {
    padding: 60px;
    padding-top: 100px;
}
#rows {
    overflow: visible;
    white-space: nowrap;
    height: auto;
}
#plots-content {
    height: 100vh;
}
